body {
  font-family: Arial, sans-serif;
}

#search-container {
  margin-bottom: 20px;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
}

.actor {
  display: flex;
  align-items: center;
  margin: 10px;
}
#actor-info {
  background-color: rgb(101, 219, 101); /* Adding green background color */
  padding: 10px;
  color: rgb(1, 1, 1); /* Optional: change the text color to make it readable */
}

.actor img {
  width: 50px;
  height: 75px;
  margin-right: 10px;
}
